html {
  scroll-padding-top: 17vh; 
  width: 100%;
}

/* General styles */
body {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header {
    position: fixed;
    width: 100%;
    height: 15vh;
    min-height: min-content;
}

h1 {
    font-size: 1.5rem;
}

main {
    padding-top: 25vh;
    padding-bottom: 20px;
    width: 100%;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    margin-left: 5%;
    margin-right: 15%;
}

section h2 {
    margin-top: 0;
}

/* Burger menu styles */
#burger {
    display: block;
}

#burger span {
    display: block;
    height: 3px;
    width: 25px;
    background: white;
    margin: 5px 0;
}

/* Navigation styles */
.nav {
    display: none;
}

.nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 45px;
    right: 20px;
    width: auto;
    border: #333 1px solid;
    border-radius: 5px;
    color: #333;
    background: #fff;
}

.nav.active a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.nav.active a:hover {
    background-color: #f4f4f4;
    font-size: large;
}

/* Skill container styles */
#skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

div .skills {
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Project gallery styles */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: start;
    gap: 10px;
}

.item {
  transition: 0.3s;
}

.item.hide {
  display: none;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  aspect-ratio: 2/1;
}

img.lightbox-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Contact form styles */
form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="message"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    min-height: 200px;
    resize: vertical;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    min-width: 150px;
    width: 20vw;
    height: 8vh;
}

/* Lightbox styles */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#lightbox.active {
  display: flex;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

#lightbox-close {
  position: fixed;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* Social media icon styles */
.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-icon {
    aspect-ratio: 1/1;
    width: 50px;
}

/* Responsive styles */
@media screen and (min-width: 768px) {

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
    }

    .nav a {
        padding: 10px 15px;
        color: #fff;
        text-decoration: none;
    }

    .nav a:hover {
        text-decoration: underline;
    }

    #burger {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    body {
        font-size: 1rem;
    }

    textarea {
        width: 70%;
    }

    form input[type="submit"] {
        width: 15vw;
    }
}

@media screen and (min-width: 1201px) {
    body {
        font-size: 1rem;
    }

    header {
        height: 15vh;
    }

    textarea {
        width: 50%;
    }

    form input[type="submit"] {
        width: 10vw;
    }
}
